/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

$ibm-plex-sans: 'IBM Plex Sans', sans-serif;

$white: #FFFFFF;
$off-white: #F7F7F7;
$gray: #ADADAD;
$dark-gray: #373A3E;
$cerulean: #457B9D;

$navbar-bg: $off-white;
$navbar-fg: $off-white;
$navbar-hl: $dark-gray;
$link-color: $cerulean;
$body-bg: $white;
$body-color: $dark-gray;

/*-- scss:rules --*/
h1, h2, h3, h4 {
  font-family: $ibm-plex-sans;
  color: $dark-gray;
}

h2 {
  border-bottom: 0px solid $white;
  padding-bottom: 0rem;
}

.navbar-logo {
  max-height: 3.15rem;
}

.center-text{
  text-align: center;
}

.gray-text {
  color: $gray;
}